<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/non-active-clients']"
            >Dashboard Clients</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Byadresse']"
            >Listes des adresses</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/client']">List Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nbfacture']">Factures Clients</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fidele']">Loyal Client</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
